.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/headerANDnav/header_back.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Open-Sans, sans-serif;

    .head_wraper {
        .wraper;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .information_box {
            width: 620px;
            height: 330px;
            background-image: linear-gradient(to top, rgba(200, 202, 209, 0.12), rgba(200, 202, 209, 0.12));
            margin-top: 208px;
            margin-bottom: 238px;
            margin-left: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px;
            color: white;

            h1 {
                margin-top: 16px;
                margin-bottom: 64px;
                font-size: 56px;
                font-weight: 600;
            }

            h2 {
                margin-bottom: 36px;
                font-size: 30px;
            }

            p {
                font-size: 20px;
                line-height: 26px;
            }
        }

    }

    .navigation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to top, rgba(200, 202, 209, 0.4), rgba(200, 202, 209, 0.4));

        .nav_wraper {
            .wraper;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;





            img[alt="logo"] {
                margin-left: 112px;
                margin-top: 18px;
                margin-bottom: 22px;
            }

            .nav_cont {
                display: flex;
                align-items: center;
                justify-content: center;

                img[alt="hamb"] {
                    width: 20px;
                    display: none;
                }

                input[type='checkbox'] {
                    display: none;
                }

                ul {
                    margin-right: 65px;

                    li {
                        display: inline-block;
                        cursor: pointer;
                        margin: 0 15px;

                        a {
                            text-decoration: none;
                            font-size: 14px;
                            color: white;

                            &:hover {
                                color: #ff6c00;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .head {
        .navigation {
            .nav_wraper {

                img[alt="logo"] {
                    margin: 10px;
                }

                .nav_cont {
                    ul {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .head {
        .navigation {
            .nav_wraper {
                .nav_cont {
                    ul li {
                        margin: 0 4px;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .head {
        .navigation {
            .nav_wraper {
                .nav_cont {
                    flex-direction: row-reverse;
                    ul {
                        display: none;
                    }

                    img[alt="hamb"] {
                        width: 20px;
                        display: inline;
                        cursor: pointer;
                        margin-right: 10px;

                    }

                    #togle:checked ~ ul {
                        display: block;
                    }


                }
            }
        }
    }
}







@media screen and (max-width: 760px) {
    .head {
        .head_wraper {
            width: 90%;

            .information_box {
                margin-top: 80px;
                margin-bottom: 80px;
                margin-right: 15px;

                h1 {
                    font-size: 46px;
                }

                h2 {
                    font-size: 26px;
                }

                p {
                    font-size: 16px;
                    line-height: 20px;
                }

            }
        }
    }
}

@media screen and (max-width: 500px) {
    .head {
        .head_wraper {
            width: 90%;

            .information_box {
                margin-right: 15px;

                h1 {
                    font-size: 36px;
                }

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    line-height: 14px;
                }

            }
        }
    }
}
